apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml
- volume/manifests/persistentvolumeclaim.yaml
- volume/manifests/persistentvolume.yaml
- postgres-db/manifests/backup.yaml
- postgres-db/manifests/volume.yaml

patchesStrategicMerge:
- broadcast/manifests/deployment.yaml
- todo-app-web-server/manifests/deployment.yaml

namespace: production

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58