apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml
- volume/manifests/persistentvolumeclaim.yaml
- volume/manifests/persistentvolume.yaml
- postgres-db/manifests/backup.yaml
- postgres-db/manifests/volume.yaml

patchesStrategicMerge:
- broadcast/manifests/deployment.yaml
- todo-app-web-server/manifests/deployment.yaml
- todo-backend/manifests/deployment.yaml

namespace: production

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: a218988b4fc83f5b120e0b47af93a15ab3f1ac17
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: a218988b4fc83f5b120e0b47af93a15ab3f1ac17
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: a218988b4fc83f5b120e0b47af93a15ab3f1ac17
