apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: 051789931481a7d25c414feabcb3c8cf7d387224
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: 051789931481a7d25c414feabcb3c8cf7d387224
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: 051789931481a7d25c414feabcb3c8cf7d387224
