apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: dd23b3cd6988c62fffab043b0f48727d77f00f3a
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: dd23b3cd6988c62fffab043b0f48727d77f00f3a
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: dd23b3cd6988c62fffab043b0f48727d77f00f3a
