apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- volume/manifests/persistentvolumeclaim.yaml
- volume/manifests/persistentvolume.yaml
- namespace/manifests/namespace.yaml

patchesStrategicMerge:
- broadcast/manifests/deployment.yaml
- todo-app-web-server/manifests/deployment.yaml
- todo-backend/manifests/deployment.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: 99cb9877f83bf046ef6601f1a49ba55e07ee541f
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: 99cb9877f83bf046ef6601f1a49ba55e07ee541f
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: 99cb9877f83bf046ef6601f1a49ba55e07ee541f
