apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: dbdbc6e79b16c730a3b3cd7310b76ff778fced5b
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: dbdbc6e79b16c730a3b3cd7310b76ff778fced5b
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: dbdbc6e79b16c730a3b3cd7310b76ff778fced5b
