apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../base
- namespace/manifests/namespace.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: 514de08e825832f97751018232d3bf019f51aa63
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: 514de08e825832f97751018232d3bf019f51aa63
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: 514de08e825832f97751018232d3bf019f51aa63
