apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./../../
- namespace/manifests/namespace.yaml

namespace: staging

images:
- name: BACKEND/IMAGE
  newName: wilky2/todobackend
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58
- name: BROADCAST/IMAGE
  newName: wilky2/broadcast
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58
- name: FRONTEND/IMAGE
  newName: wilky2/todoappwebserver
  newTag: 70546d4373b6c6d0ceaaca44d5a77a896263bd58