name: Build and publish application

on:
  push:
    tags:
      - '*'  # trigger on any new tag

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest
    environment: docker

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push images
        run: |
          docker build ./todo-app/todo-app-web-server -t wilky2/todoappwebserver:${GITHUB_SHA}
          docker push wilky2/todoappwebserver:${GITHUB_SHA}
          docker build ./todo-app/todo-backend -t wilky2/todobackend:${GITHUB_SHA}
          docker push wilky2/todobackend:${GITHUB_SHA}
          docker build ./todo-app/broadcast -t wilky2/broadcast:${GITHUB_SHA}
          docker push wilky2/broadcast:${GITHUB_SHA}